@using AutoScrum.AzureDevOps.Models

<ListItem>
    <div class="work-item-text">
        <div>
            <a href="@WorkItem.Url">#@(WorkItem.Id)</a> @(WorkItem.Title)
        </div>
        <div>
            @if (!string.IsNullOrWhiteSpace(WorkItem.AssignedToDisplayName))
            {
                <span>Assigned to <span class="workItemValue">@(WorkItem.AssignedToDisplayName)</span></span>
            }
            @if (!string.IsNullOrWhiteSpace(WorkItem.AssignedToDisplayName))
            {
                <span> Changed at <span class="workItemValue">@(WorkItem.ChangedDate.Value.LocalDateTime.ToString("g"))</span></span>
            }
        </div>
    </div>
    <div>
        @if (HasYesterdayButton)
        {
            <Button Type="@ButtonType.Link" OnClick="() => OnYesterday?.Invoke(WorkItem)">Yesterday</Button>
        }
        @if (HasTodayButton)
        {
            <Button Type="@ButtonType.Link" OnClick="() => OnToday?.Invoke(WorkItem)">Today</Button>
        }
        @if (HasRemoveButton)
        {
            <Button Type="@ButtonType.Link" Danger OnClick="() => OnRemove?.Invoke(WorkItem)">Remove</Button>
        }
    </div>
</ListItem>

@if (ShowChildren && WorkItem?.Children?.Any() == true)
{
    <Card Bordered>
        <AntList DataSource="WorkItem.Children" Context="childContext">
            <ListItem>
                <WorkItemComponent WorkItem="childContext" HasYesterdayButton=HasYesterdayButton HasTodayButton=HasTodayButton HasRemoveButton=HasRemoveButton OnToday=OnToday OnYesterday=OnYesterday OnRemove=OnRemove></WorkItemComponent>
            </ListItem>
        </AntList>
    </Card>
}

@code {
    [Parameter] public WorkItem? WorkItem { get; set; }
    [Parameter] public bool HasTodayButton { get; set; } = true;
    [Parameter] public bool HasYesterdayButton { get; set; } = true;
    [Parameter] public bool HasRemoveButton { get; set; } = true;
    [Parameter] public Action<WorkItem>? OnToday { get; set; }
    [Parameter] public Action<WorkItem>? OnYesterday { get; set; }
    [Parameter] public Action<WorkItem>? OnRemove { get; set; }
    [Parameter] public bool ShowChildren { get; set; }
}