@page "/"
@using AutoScrum.Components
@using AutoScrum.Core.Models

<AntDesign.Title Level="1">
    <div class="flex-between">
        Ready, Set... ENGAGE!
        <SelectTheme />
    </div>
</AntDesign.Title>

<CollapsibleCard Title="Azure DevOps Connection Info" DefaultVisible>
    @* TODO: Refactor to new component: 'ConnectionInfoForm.razor' *@
    <Form Model="ConnectionInfo"
          LabelColSpan="4"
          WrapperColSpan="20"
          @ref="_connectionForm"
          Loading="_connectionFormLoading">
        <FormItem>
            <AntDesign.Input @bind-Value="context.UserEmail" Placeholder="Your email..."/>
        </FormItem>
        <FormItem>
            <AntDesign.InputPassword @bind-Value="context.PersonalAccessToken" Placeholder="Your Azure DevOps Personal Access Token (PAT)"/>
        </FormItem>
        <FormItem>
            <AntDesign.Input @bind-Value="context.AzureDevOpsOrganization" Placeholder="Azure DevOps Organization Name or URL"/>
        </FormItem>
        <FormItem>
            <AntDesign.Input @bind-Value="context.ProjectName" Placeholder="Azure DevOps Project"/>
        </FormItem>
        <FormItem Label="@GetGenerateForLabel()">
            <RadioGroup @bind-Value="context.TeamFilterBy">
                <Radio RadioButton Value="@TeamFilterBy.Me">Just me</Radio>
                <Radio RadioButton Value="@(TeamFilterBy.Team)">Team</Radio>
            </RadioGroup>
        </FormItem>
        <FormItem WrapperColOffset="4" WrapperColSpan="20">
            <Button Type="@ButtonType.Primary" OnClick="SubmitAsync">
                Submit
            </Button>
            <Button Type="@ButtonType.Default" OnClick="SaveConfigAsync">
                Save
            </Button>
            <Button Danger Type="@ButtonType.Default" OnClick="DeleteConfigAsync">
                Delete
            </Button>
        </FormItem>
    </Form>
</CollapsibleCard>

<Divider />


@* In case we decide to be able to manage this user by user *@
@*@if (Users?.Count > 0 && SelectedUser != null)
{
    <h3>Selected user</h3>
<Select TValue="User" SelectedValue="@SelectedUser" SelectedValueChanged="@OnSelectedValueChanged">
    @foreach (User user in Users)
    {
        <SelectItem TValue="User" Value="@user">@user.DisplayName</SelectItem>
    }
</Select>
}*@

@if (!IsPageInitializing)
{
    <CollapsibleCard Title="Current Sprint Work Items">
        <WorkItemListComponent WorkItems="@_dailyScrum.WorkItems" IsOnBoard=true OnYesterday=AddYesterday OnToday=AddToday />
    </CollapsibleCard>
    
    <Divider />

    <Row>
        <AntDesign.Col Span="12" Xl="12" Md="24" Sm="24">
            <CollapsibleCard Title="Yesterday">
                <WorkItemListComponent WorkItems="@_dailyScrum.Yesterday" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, false)"></WorkItemListComponent>
            </CollapsibleCard>
        </AntDesign.Col>
        <AntDesign.Col Span="12" Xl="12" Md="24" Sm="24">
            <CollapsibleCard Title="Today">
                <WorkItemListComponent WorkItems="@_dailyScrum.Today" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, true)"></WorkItemListComponent>
            </CollapsibleCard>
        </AntDesign.Col>
    </Row>

    <Divider />
    
    <CollapsibleCard Title="Output" DefaultVisible>
        @Output
    </CollapsibleCard>
}