@page "/"

<AntDesign.Row>
    <AntDesign.Col Xxl="@ContentSpan" Xl="@ContentSpan" Lg="ContentSpan" Md="24" Sm="24" Xs="24">

        <AntDesign.Title Level="1">
            <div class="flex-between">
                Ready, Set... ENGAGE!
                <SelectTheme/>
            </div>
        </AntDesign.Title>

        <Row>
            <AntDesign.Col Span="22" Xl="22" Md="24" Sm="24">
                <Select DataSource="@ProjectMetadatas"
                    @bind-Value="@_selectedProjectId"
                    LabelName="@nameof(ProjectMetadata.Name)"
                    ValueName="@nameof(ProjectMetadata.Id)"
                    Placeholder="Select a project"
                    DefaultActiveFirstItem="false"
                    EnableSearch
                    OnBlur="OnBlur"
                    OnFocus="OnFocus"
                    OnSelectedItemChanged="OnSelectedItemChangedHandler"
                    OnSearch="OnSearch">
                </Select>
            </AntDesign.Col>
            <AntDesign.Col Span="2" Xl="2" Md="24" Sm="24">
                <Button Type="@ButtonType.Default" OnClick="AddProject">
                    ➕ Add Project
                </Button>
            </AntDesign.Col>
        </Row>

        <CollapsibleCard Title="Azure DevOps Connection Info" AnchorLink="connection-info" DefaultVisible>
            @* TODO: Refactor to new component: 'ConnectionInfoForm.razor' *@
            <Form Model="ConnectionInfoRequest"
                  LabelColSpan="4"
                  WrapperColSpan="20"
                  @ref="_connectionForm"
                  Loading="_connectionFormLoading">
                <FormItem>
                    <AntDesign.Input @bind-Value="context.Name" Placeholder="Profile name...">
                        <AddOnBefore>Profile name</AddOnBefore>
                    </AntDesign.Input>
                </FormItem>
                <FormItem>
                    <AntDesign.Input @bind-Value="context.UserEmail" Placeholder="Your email...">
                        <AddOnBefore>Email</AddOnBefore>
                    </AntDesign.Input>
                </FormItem>
                <FormItem>
                    <AntDesign.InputPassword @bind-Value="context.PersonalAccessToken" Placeholder="Your Azure DevOps Personal Access Token (PAT)">
                        <AddOnBefore>PAT</AddOnBefore>
                    </AntDesign.InputPassword>
                </FormItem>
                <FormItem>
                    <AntDesign.Input @bind-Value="context.AzureDevOpsOrganization" Placeholder="Azure DevOps Organization Name or URL">
                        <AddOnBefore>Org Name</AddOnBefore>
                    </AntDesign.Input>
                </FormItem>
                <FormItem>
                    <AntDesign.Input @bind-Value="context.ProjectName" Placeholder="Azure DevOps Project">
                        <AddOnBefore>Project name</AddOnBefore>
                    </AntDesign.Input>
                </FormItem>
                <FormItem Label="@GetGenerateForLabel()">
                    <RadioGroup @bind-Value="context.TeamFilterBy">
                        <Radio RadioButton Value="@TeamFilterBy.Me">Just me</Radio>
                        <Radio RadioButton Value="@TeamFilterBy.Team">Team</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem WrapperColOffset="4" WrapperColSpan="20">
                    <Button Type="@ButtonType.Primary" OnClick="SubmitAsync">
                        Submit
                    </Button>
                    <Button Type="@ButtonType.Default" OnClick="SaveConfigAsync">
                        Save
                    </Button>
                    <Button Danger Type="@ButtonType.Default" OnClick="DeleteConfigAsync">
                        Delete
                    </Button>
                </FormItem>
                <small>* All data is stored in browser Local Storage when pressing "Save" button.</small>
            </Form>
        </CollapsibleCard>

        <Divider/>

        @if (!IsPageInitializing)
        {
            <CollapsibleCard Title="Users" AnchorLink="user-list" BodyStyle="padding: 0">
                <Table DataSource="Users"
                       Responsive
                       HidePagination>
                    <Column Title="Name" TData="User">
                        <Tooltip Title="context.Email">
                            <span>@context.DisplayName</span>
                        </Tooltip>
                    </Column>
                    <ActionColumn Title="Include">
                        <Switch Checked="context.Included" CheckedChanged="include => UserIncludeChanged(context, include)" />
                    </ActionColumn>
                </Table>
            </CollapsibleCard>
            
            <Divider />

            <CollapsibleCard Title="Blocking" AnchorLink="blocking" BodyStyle="padding: 0">
                <Table DataSource="IncludedUsers"
                       Responsive
                       HidePagination>
                    <Column Title="Name" TData="User">
                        <Tooltip Title="context.Email">
                            <span>@context.DisplayName</span>
                        </Tooltip>
                    </Column>
                    <ActionColumn Title="Include">
                        <TextArea Placeholder="Autosize height based on content lines" AutoSize="true" @bind-Value="context.Blocking" OnChange="OnBlockingUpdated" />
                    </ActionColumn>
                </Table>
            </CollapsibleCard>
            
            <Divider />
            
            <CollapsibleCard Title="Current Sprint Work Items" AnchorLink="current-sprint">
                <WorkItemListComponent WorkItems="@DailyScrum.WorkItems" IsOnBoard=true OnYesterday=AddYesterday OnToday=AddToday/>
            </CollapsibleCard>

            <Divider/>

            <Row>
                <AntDesign.Col Span="12" Xl="12" Md="24" Sm="24">
                    <CollapsibleCard Title="Yesterday" AnchorLink="yesterday-today">
                        <WorkItemListComponent WorkItems="@DailyScrum.Yesterday" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, false)"></WorkItemListComponent>
                    </CollapsibleCard>
                </AntDesign.Col>
                <AntDesign.Col Span="12" Xl="12" Md="24" Sm="24">
                    <CollapsibleCard Title="Today">
                        <WorkItemListComponent WorkItems="@DailyScrum.Today" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, true)"></WorkItemListComponent>
                    </CollapsibleCard>
                </AntDesign.Col>
            </Row>

            <Divider/>

            <CollapsibleCard Title="Output" DefaultVisible AnchorLink="output">
                <div>
                    @Output

                    <div style="position:absolute; top: 70px; right: 10px;">
                        <Button Style="border: none" OnClick="CopyCommitMessage" Icon="copy">Copy</Button>
                        <Button Style="border: none" OnClick="SubmitAsync" Icon="sync">Refresh</Button>
                    </div>
                </div>
            </CollapsibleCard>
        }
    </AntDesign.Col>
    <AntDesign.Col Xxl="@AnchorSpan" Xl="@AnchorSpan" Lg="AnchorSpan" Md="0" Sm="0" Xs="0">
        <Affix>
            <Card Class="ant-card-affix">
                <Anchor>
                    <AnchorLink Href="/#connection-info" Title="Azure DevOps Connection Info"/>
                    <AnchorLink Href="/#user-list" Title="Users"/>
                    <AnchorLink Href="/#blocking" Title="Blocking"/>
                    <AnchorLink Href="/#current-sprint" Title="Current Sprint Work Items"/>
                    <AnchorLink Href="/#yesterday-today" Title="Yesterday/Today"/>
                    <AnchorLink Href="/#output" Title="Output"/>
                </Anchor>
            </Card>
        </Affix>
    </AntDesign.Col>
</AntDesign.Row>