@page "/"
@using AutoScrum.Components
@inject HttpClient _httpClient

<h1>Ready, Set... ENGAGE!</h1>

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Azure DevOps Connection Info</CardTitle>
            </CardHeader>

            <CardBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                    <Validation Validator="@ValidationRule.IsEmail">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Email</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <TextEdit Placeholder="Your email..." @bind-Text="ConnectionInfo.UserEmail" Role="TextRole.Email">
                                    <Feedback>
                                        <ValidationError>User email is required!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Access Token</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <TextEdit Placeholder="Your Azure DevOps Personal Access Token (PAT)..." @bind-Text="ConnectionInfo.PersonalAccessToken" Role="TextRole.Password">
                                    <Feedback>
                                        <ValidationError>PAT is required!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Organization</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <TextEdit Placeholder="Azure DevOps Organization Name or URL" @bind-Text="ConnectionInfo.AzureDevOpsOrganization">
                                    <Feedback>
                                        <ValidationError>Organization is required!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is2">Project</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <TextEdit Placeholder="Azure DevOps Project" @bind-Text="ConnectionInfo.ProjectName">
                                    <Feedback>
                                        <ValidationError>Project is required!</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                </Validations>
                <Field Horizontal="true" JustifyContent="JustifyContent.Start">
                    <FieldBody ColumnSize="ColumnSize.Is2">
                        <Button Color="Color.Primary" Clicked="@Submit">📬 Submit</Button>
                        <Button Color="Color.Success" Clicked="@SaveConfig">💾 Save</Button>
                        <Button Color="Color.Danger" Clicked="@DeleteConfig">🗑 Delete</Button>
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Current Sprint Work Items</CardTitle>
            </CardHeader>
            <CardBody>
                <WorkItemListComponent WorkItems="@_dailyScrum.WorkItems" IsOnBoard=true OnYesterday=AddYesterday OnToday=AddToday></WorkItemListComponent>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Yesterday</CardTitle>
            </CardHeader>
            <CardBody>
                <WorkItemListComponent WorkItems="@_dailyScrum.Yesterday" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, false)"></WorkItemListComponent>
            </CardBody>
        </Card>
    </Column>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Today</CardTitle>
            </CardHeader>
            <CardBody>
                <WorkItemListComponent WorkItems="@_dailyScrum.Today" IsOnBoard=false OnRemove="wi => RemoveWorkItem(wi, true)"></WorkItemListComponent>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Output</CardTitle>
            </CardHeader>
            <CardBody>
                @Output
            </CardBody>
        </Card>
    </Column>
</Row>
